<div id="navbar">
    <a href="#" onclick="viewHome()">
        <i class="fa-solid fa-house"></i></a>
    <a id="view-department" href="#" onclick="viewDeparment(this)">Quản lý Phòng ban</a>
    <a id="view-account" href="#" onclick="viewAccount(this)">Quản lý Nhân viên</a>
    <a id="logout" href="" style="float: right;" onclick="logout()"><i class="fa-solid fa-right-from-bracket"></i></a>
    <a style="float: right;">Hello
    <span id="user-full-name">
        Nguyen Van A
    </span>
    
    </a>
</div>